/*header*/
h1 {
    font-size: 40px;
    font-family: Georgia:; color: rgb(0, 128, 255);}
    
/*paragraphs*/
p{
	font-family: Arial, Helvetica, sans-serif;color:black; }

/*navbar teal I think*/	
ul{color:teal;}

/*body colour*/
<body  bgcolor="#C6DEFF"> </body>

/*unvisited link for navbar keeps it blue*/
a:link {
	color:rgb(51, 153, 255);
}
/*visited link for navbar keeps it blue*/
a:visited{
	color:rgb(51, 153, 255);
}
/*hover link on navbar it turns it a darker blue*/
 a:hover {
    color: rgb(0,128,255);
} 


/*navbar info*/


ul {   
	list-style-type: none;
    margin: 0;
    padding: 90;
    position:absolute;
    overflow: hidden;
    background-color:rgb(179, 217, 255); 
    top:0;
}

li {
    float: left;
}

/*makes the navbar have no underline and horizontal*/
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 80px;

    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: rgb(179, 217, 255);
}

/*selectors*/

#firstp { 
 }

.header {

}
.image {

}

.footer {
	background-color:rgb(179, 217, 255);
	bottom:0;
   width:100%;

	}

#blue {color:rgb(51, 153, 255);

}